.language-go {
  color: #00add8;
}

.language-python {
  color: #3572a5;
}

.language-rust {
  color: #dea584;
}

.language-typescript {
  color: #3178c6;
}

.language-csharp {
  color: #178600;
}

.language-cpp {
  color: #f34b7d;
}
